<%- include('./elements/header.ejs') %> 
</head>
<body onload="lp()">
    <%- include('./elements/nav.ejs',{pageTitle:pageTitle,errorMsg:errorMsg}) %> 
    <!-- home -->
    <section class="home container" id="home">
      <div class="home-text">
        <h1>Find your Next <br>Perfect Place to <br>Live.</h1>
        <% if(Username) {%> 
            <h2 style="color:white">Hello,<span style="color:rgb(36, 226, 232)"><%= Username %></span> </h2>
        <% } else { %> 
            <a href="/signin" class="btn">Sign Up</a>
        <% } %> 
      </div>
    </section>
    <!-- Sales -->
    <section class="sales container" id="sales">
      <!-- Box 1-->
      <div class="box">
        <i class='bx bx-user'></i>
        <h3>Make Your Dream True</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <!-- Box 2-->
      <div class="box">
        <i class='bx bx-desktop'></i>
        <h3>Start Your Membership</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <!-- Box 1-->
      <div class="box">
        <i class='bx bx-home-alt'></i>
        <h3>Enjoy Your New Home</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

    </section>
    <!-- Properties-->
    <% if(properties.length>0){ %> 
    <section class="properties container" id="properties">
        <div class="heading">
          <span>Recent</span>
          <h2>Our Featured Properties</h2>
          <p>Handpicked properties for you
            .</p>
        </div>
        <div class="properties-container container">
          <!-- box 1 -->
          <% properties.forEach(prop=>{ %> 
          <div class="box">
            <img src="/property-images/<%= prop.imgPath[0].imageUrl.split('\\')[7] %>" alt="">
            <h3>Rs.<%= prop.rent %> </h3>
            <div class="content">
              <div class="text">
                <h3><%= prop.address %></h3>
                <p><%= prop.city %></p>
              </div>
              <div class="icon">
                <i class="bx bx-bed"><span><%= prop.bed %></span></i>
                <i class="bx bx-bath"><span><%= prop.washroom %></span></i>
              </div>
            </div>
          </div>
          <% }) %> 
        </div>
  
        <div class="link-to-properties">
          <a href="/all-properties" class="btn">Click to Explore More</a>
        </div>
  <% } %> 
     <!-- About us -->
     <section class="about" id="about">
        <div class="about-container">
          <img class="about-img" src="F:\AMAN WORK\mini project\SEM-04\Adkart_01\resources\pexels-sebastian-sørensen-731082.jpg" alt="">
          <h5>ABOUT US</h5>
          <h1>We provide the best <br>property for you!</h1>
          <br>
          <p>Founded in 2022 , AdKart.com is India’s most innovative real estate advertising platform for homeowners, landlords, developers, and real estate brokers. The company offers listings for new homes, resale homes, rentals, plots and co-living spaces in India. Backed by strong research and analytics, the company’s experts provide comprehensive real estate services that cover advertising and marketing, sales solutions for real estate developers, personalized search, virtual viewing, AR&VR content, home loans, end-to-end transaction services, and post-transaction services to consumers for both buying and renting.</p>
          <a href="#" class="btn learn-more-btn">Learn more</a>
        </div>
      </section>
    <!-- Newsletter -->
    <section class="newsletter container">
      <h2>Have Question in Mind? <br>Let us help you</h2>
      <form class="" action="index.html" method="post">
        <input type="email" name="" id="email-box" placeholder="yourmail@gmail.com" required>
        <input type="submit" value="Send" class="btn">
      </form>
    </section>
    <!-- footer -->
    <section class="footer">
      <div class="footer-container container">
        <h2><i class='bx bx-home'></i>Adkart</h2>
        <div class="footer-box">
          <h3>Quick Link</h3>
          <a href="#">Agency</a>
          <a href="#">building</a>
          <a href="#">Rates</a>
        </div>
        <div class="footer-box">
          <h3>Locations</h3>
          <a href="#">Delhi</a>
          <a href="#">Mumbai</a>
          <a href="#">Bengaluru</a>
        </div>
        <div class="footer-box">
          <h3>Contact</h3>
          <a href="#">+91*******</a>
          <a href="#">Yourmail@gmail.com</a>
          <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- copyright -->
    <div class="copyright">
      <p>&#169; All Right Reserved</p>
    </div>

    <%- include('./elements/footer.ejs') %> 