<%- include('./elements/header.ejs') %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body onload="lp()"> 
    <%- include('./elements/nav.ejs',{pageTitle:pageTitle,errorMsg:errorMsg}) %> 
    
    <div class="form1">
        <div class="left">
          <a href="" class="form-logo"><i class='bx bx-home'></i>Adkart</a>
        </div>
        <div class="details">
         <h1>Login</h1>
         <% if(successMsg.length>0){%> 
            <div class="sMsg">
              <%= successMsg[0] %> 
            </div>
            <% } %> 
            <% if(errorMsg.length>0){%> 
                <div class="eMsg">
                  <%= errorMsg[0] %> 
                </div>
                <% } %> 
         <form action="/login" method="POST" autocomplete="off">
            <div class="email">
                <input type="email" name="email" value="<%= oldInput.email?oldInput.email:null%>" required="true" placeholder="Email">
            </div>
            <div class="password">
               <input type="password" name="password" value="<%= oldInput.password?oldInput.password:null %>" required="true" placeholder="Password">
               <span class="pass-view"><input type="checkbox" onclick="myFunction()">Show Password</span>
            </div>
            <button type="submit" class="submitBtn">Submit</button>
            <p class="form-footer">Forgot Passord? <a href="/reset-password">Reset</a></p>
            <p class="form-footer">New User? <a href="/signin">SignIn</a></p>
        </form>
        </div>
      </div>
    

    <%- include('./elements/footer.ejs') %> 